@media (min-width: 62rem) {
  /** GLOBAL **************************************************************************/
  #header {
    max-width: 1280px;
    margin: auto;
  }
  /** ABOUT WE*************************************************************************/
  #aboutwe {
    text-align: center;
  }
}
