@media (min-width: 48rem) {
  /** HEADER FIXE *************************************************/
  #header__menu-content {
    width: calc(24rem - var(--md-sp));
    right: -600px;
  }
  #header__menu-content::after {
    bottom: 30px;
    border-left: 384px solid white;
    border-bottom: 20px solid transparent;
  }
  /** HOME **********************************************************/
  #home {
    min-height: 400px;
  }
  #home > img {
    position: absolute;
    top: 40px;
    left: 40px;
  }
  /*   .home__slider {
    position: absolute;
    width: 100%;
    top: 240px;
    left: 449px;
    height: 100%;
  } */
  .home__slider-item {
    padding-left: 0px;
  }
  /** ABOUT WE *******************************************************/
  .aboutwe__member {
    width: 24%;
  }
  /** MUSIC **********************************************************/
  #ambiance,
  #animation {
    width: 80%;
    margin: 64px auto;
  }
}
