.playlist {
  margin-bottom: 20px;
  text-align: center;
}
/*----------------------------------------------------------*/
.playlist__recordCover {
  width: 160px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.md-cover {
  width: 78px;
  height: 78px;
  border: 1px solid #eee;
}
.sm-cover {
  width: 50px;
  height: 50px;
}
.playlist__recordCover img:first-child {
  border-top-left-radius: 10px;
}
.playlist__recordCover img:nth-child(2) {
  border-top-right-radius: 10px;
}
.playlist__recordCover img:nth-child(3) {
  border-bottom-left-radius: 10px;
}
.playlist__recordCover img:last-child {
  border-bottom-right-radius: 10px;
}
/*-----------------------------------------------------------------*/
.playlist__control {
  border-bottom: 2px solid #ccc;
  display: inline-flex;
}
.btn-xl-music {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: right;
  margin: 20px;
  padding: 10px;
  width: 135px;
  height: 40px;
  border-radius: 5px;
}
.btn-xl-music.read {
  padding-right: 18px;
}
.btn-xl-music.read::before {
  content: "";
  width: 18px;
  height: 18px;
  background: url("../svg/play.svg") no-repeat;
  position: absolute;
  top: 9px;
  left: 20px;
}
.btn-xl-music.shuffle::before {
  content: "";
  width: 18px;
  height: 18px;
  background: url("../svg/shuffle.svg");
  position: absolute;
  top: 9px;
  left: 10px;
}
/*---------------------------------------------------------------------- */
.performer,
.cover {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: #999;
  padding-top: 2px;
  line-height: 20px;
}
.cover {
  padding-top: 0px;
}
section.playlist__track {
  position: relative;
  height: 60px;
  padding: 10px 70px;
  text-align: left;
  display: flex;
  flex-direction: column;
}
section.playlist__track > img {
  position: absolute;
  top: 15px;
  left: 0px;
}
section.playlist__track > .btn-sm-music {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
}
section.playlist__track > .btn-sm-music img {
  width: 20px;
  height: 20px;
}
/* section.playlist__track > .btn-sm-music img.pause {
  display: none;
} */
section.playlist__track::after {
  content: "";
  width: 280px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  bottom: 0px;
  right: -5px;
}
