@media (min-width: 62rem) {
  section.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #main-header,
  .whoiam,
  .skills,
  .experiences,
  .hobbies {
    width: 1280px;
    margin: auto;
  }

  /** HEADER *************************************************************************************/
  h1 {
    width: 20%;
    text-align: left;
    padding: 0 var(--sp);
  }
  h1 a {
    color: lightgreen;
  }
  #main-header {
    display: flex;
    flex-direction: row;
  }

  /** NAVIGATION *********************************************************************************/
  .menu-burger,
  .btn-menu,
  .header-main-menu {
    display: none;
  }
  .main-menu {
    position: inherit;
    width: 80%;
    height: 70px;
    padding: 0 var(--sp);
  }
  .menu-content {
    position: inherit;
    transform: translate(0px);
    transition: none;
    min-width: 800px;
    background-color: var(--darkcolor);
  }
  .list-main-menu {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    padding-bottom: 0px;
  }
  .main-menu-item {
    height: calc(67px - var(--lg-sp));
    line-height: calc(67px - var(--lg-sp));
    border-bottom: 0;
    margin: var(--sp) 0;
    padding: 0;
    width: auto;
    border-right: 1px solid #fff;
  }
  .main-menu-item:last-of-type {
    border-right: 0;
  }
  .main-menu-item a {
    display: inline-block;
    color: white;
    font-weight: normal;
    /* line-height: 38px; */
    padding: 0 var(--sp);
  }
  /** WHO I AM ***********************************************************************************/
  #whoiam {
    padding-bottom: 140px;
  }
  #whoiam img {
    /* top: -20px; */
    max-height: 1355px;
    height: auto;
    width: 100%;
    bottom: 0;
    /* vertical-align: baseline; */
  }
  .whoiam article {
    width: 45%;
  }
  /** SKILLS *************************************************************************************/
  .skill {
    width: calc(25% - var(--lg-sp));
  }

  /** CAREER ********************************************************************************/
  .career__period-info,
  .career__period-date {
    width: 30%;
  }
  .career__period-date.training {
    text-align: right;
    margin-left: calc(20% - var(--lg-sp));
  }
  .career__period-info.training {
    margin-left: calc(
      20% - 62px
    ); /** 50% de marge - 30% de period-info.width = 20% */
  }
  /** HOBBIES ************************************************************************************/

  /** FOOTER *************************************************************************************/
  .link-footer address {
    display: inline;
  }
}
