@media (min-width: 48rem) {
  /* 48rem = 768px */
  /** HEADER *************************************************************************************/
  header {
    height: 70px;
  }
  #gradient-color-bar {
    top: 70px;
  }
  h1 {
    line-height: 68px;
  }

  /** NAVIGATION *********************************************************************************/
  .main-menu {
    width: auto;
  }
  .btn-menu {
    opacity: 0;
  }
  .btn-menu:hover {
    cursor: pointer;
  }
  .menu-content {
    width: auto;
    transform: translate(500px);
  }

  /** WHO I AM ***********************************************************************************/

  #whoiam {
    padding: 100px 0px;
  }
  #whoiam img {
    max-height: 100%;
    width: auto;
    vertical-align: middle;
    right: 0px;
  }
  .whoiam {
    width: 66%;
  }

  /** SKILLS *************************************************************************************/
  #skills {
    padding-bottom: var(--lg-sp);
  }
  .skills__item-icon {
    display: block;
    text-align: center;
    padding-left: var(--sp);
    padding-bottom: 0px;
  }
  .skills__item-title span {
    display: none;
  }
  .skills__item p {
    text-align: center;
  }

  /** CAREER *************************************************************************************/
  .career__timeline.right {
    display: none;
  }
  .career__timeline.left {
    left: 50%;
  }
  .career__period.experience::before {
    right: calc(50% - 12px);
  }
  .career__period.training::before {
    left: calc(50% - 8px);
  }
  .career__period-info,
  .career__period-date {
    width: 40%;
  }
  .career__period.training {
    text-align: right;
  }
  .career__period-date.experience {
    text-align: left;
    margin-left: calc(50% + var(--lg-sp));
  }
  .career__period-info.experience {
    margin-left: calc(50% + var(--lg-sp));
  }
  .career__period-info.experience div {
    flex-direction: row-reverse;
    justify-content: start;
  }
  .career__period-info.experience div span {
    padding-left: var(--sp);
  }
  .career__period-date.training {
    text-align: right;
    margin-left: calc(10% - var(--lg-sp));
  }
  .career__period-info.training {
    margin-left: calc(10% - 62px);
  }
  .career__period-info.training div {
    flex-direction: row;
    justify-content: end;
  }
  .career__period-info.training div span {
    padding-right: var(--sp);
  }
  /* .career__period-date.training {
    text-align: right;
    margin-right: calc(50% +var(--lg-sp));
  } */
  /** HOBBIES ************************************************************************************/
  #hobbies h2 {
    margin-bottom: var(--lg-sp);
  }
  .hobbies {
    flex-direction: row;
  }
  .hobby,
  .name-hobby,
  .hobby img {
    margin: 0 auto;
  }

  /** FOOTER *************************************************************************************/
  .footer__links {
    flex-direction: row;
  }
  .footer__links span {
    padding-right: var(--lg-sp);
  }
  .footer__links span:last-of-type {
    padding-right: 0;
  }
  .footer__links-item a {
    color: #fff;
  }
  .footer__links-item a:hover {
    text-decoration: underline;
    color: var(--md-2-color);
  }
  .social__link i:hover {
    color: var(--md-2-color);
    transform: scale(1.5);
    transition: all 0.3s linear;
  }
  /** LEGAL NOTICES *******************************************************************************/
  #legal-notices {
    margin-top: 70px;
  }
}
