@media (min-width: 48rem) {
  /** HEADER *************************************************************************************/
  header {
    height: 70px;
  }
  h1 {
    line-height: 68px;
  }
  h1 a {
    color: aqua;
  }
  /** NAVIGATION *********************************************************************************/
  .main-menu {
    width: auto;
  }
  .btn-menu {
    opacity: 0;
  }
  .btn-menu:hover {
    cursor: pointer;
  }
  .menu-content {
    width: auto;
    transform: translate(500px);
  }

  /** WHO I AM ***********************************************************************************/

  #whoiam {
    padding: 100px 0px;
  }
  #whoiam img {
    max-height: 100%;
    width: auto;
    vertical-align: middle;
    right: 0px;
  }
  .whoiam {
    width: 66%;
  }

  /** SKILLS *************************************************************************************/
  .skill {
    width: calc(33% - var(--2sp));
  }
  /** EXPERIENCES ********************************************************************************/

  /** HOBBIES ************************************************************************************/

  /** FOOTER *************************************************************************************/
}
