/** variables du thème *************************************************/
:root {
  --darkcolor: #18020c;
  --color-bg-dark: 24, 2, 12;
  --lightcolor: #f2f3d9;
  --md-1-color: #576066;
  --md-2-color: #96b3c2;
  --md-3-color: #e4626f;
  --color-bg-light: rgba(220, 158, 130, 0.5);
  --sp: 16px;
  --lg-sp: 32px;
}
@font-face {
  font-family: "Merienda";
  src: url("/assets/fonts/Merienda-Regular.ttf");
}
@font-face {
  font-family: "Merienda";
  font-weight: bold;
  src: url("/assets/fonts/Merienda-Bold.ttf");
}
/** global **************************************************************/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Open sans, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  height: 100%;
}
.block {
  position: relative;
}
.content {
  margin: 0 var(--sp);
}
.hidden {
  display: none;
}
h2 {
  font-family: Merienda;
  font-size: 24px;
  margin: 0 var(--sp);
  padding: var(--lg-sp) 0;
  text-align: center;
}
h3 {
  text-align: center;
  padding: var(--sp);
  font-family: Merienda;
  font-style: normal;
  font-weight: bold;
}
p {
  line-height: 1.8;
  padding-bottom: var(--sp);
}

/** header ***************************************************************************************/
header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--darkcolor);
  width: 100%;
  height: 70px;
  z-index: 10;
}
#gradient-color-bar {
  z-index: 9;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 4px;
  background-image: linear-gradient(
    90deg,
    var(--md-1-color) 0%,
    var(--md-3-color) 25%,
    var(--md-2-color) 50%,
    var(--md-1-color) 75%,
    var(--md-3-color) 100%
  );
  transition: 0.2s;
}

/** MY NAME *********************/
h1 {
  width: 80%;
  padding: 0 var(--sp);
}
h1 a {
  font-size: 26px;
  text-decoration: none;
  color: white;
  line-height: 70px;
}
h1 a:hover {
  font-size: 1.8rem;
  font-weight: 700;
  background: linear-gradient(
    180deg,
    var(--md-1-color) 0%,
    var(--md-3-color) 25%,
    var(--md-2-color) 50%,
    var(--lightcolor) 75%,
    var(--md-3-color) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s;
}
h1 span {
  font-family: "Merienda";
  font-style: normal;
  font-size: 19px;
  font-weight: bold;
}
/** NAVIGATION *********************************************************************************/
.main-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  text-align: right;
}
.btn-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  z-index: 1000;
  opacity: 0;
}
.menu-burger {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: var(--sp);
}
.menu-burger span {
  color: white;
  width: 20px;
  height: 20px;
  line-height: 70px;
}
.menu-content {
  z-index: 10;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  transform: translate(500px);
  transition-property: transform;
  transition-duration: 0.7s;
  transition-delay: 0s;
  transition-timing-function: ease-in;
}
.btn-menu:checked ~ .menu-content {
  transform: translate(0);
}
.header-main-menu {
  height: 52px;
  display: flex;
  line-height: 48px;
  color: var(--md-1-color);
}
.header-main-menu .menu-title {
  flex: 1;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  padding-left: calc(2 * var(--sp));
}
.header-main-menu .menu-cross {
  flex: 0;
  flex-basis: 20px;
  text-align: center;
  line-height: 48px;
  vertical-align: middle;
  padding-right: var(--sp);
}
.list-main-menu {
  width: auto;
  list-style: none;
  padding-bottom: var(--sp);
}
.main-menu-item {
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  line-height: 48px;
  width: auto;
  height: 50px;
  padding: 0px var(--sp);
  border-bottom: 1px solid var(--md-1-color);
}
.main-menu-item a {
  text-decoration: none;
  color: var(--md-1-color);
}
.main-menu-item a:hover {
  color: var(--md-3-color);
}
/** WHO I AM ***************************************************************/
#whoiam {
  margin-top: 70px;
  background-color: var(--md-1-color);
  color: white;
  height: 100%;
}

p.myname {
  font-size: 20px;
}
p.myname span {
  font-family: Merienda;
}
#whoiam h2 {
  text-align: left;
}
#whoiam img {
  position: absolute;
  height: 741px;
  width: auto;
  vertical-align: middle;
  bottom: 0px;
  right: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 0;
}
.whoiam article {
  background-color: rgba(var(--color-bg-dark), 0.5);
  backdrop-filter: blur(5px);
  position: relative;
  line-height: 1.5;
  padding: var(--sp);
}
.whoiam h2 {
  margin: 0;
  padding-bottom: var(--sp);
  font-size: 20px;
}
/** skills **************************************************************/
#skills {
  z-index: -2;
  background-color: var(--darkcolor);
  background-image: url(../pictures/diagmonds.png);
  padding-bottom: var(--sp);
}
#skills h2 {
  color: #fff;
}
.skills {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.skills__item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff;
  background-color: rgba(var(--color-bg-dark), 0.2);
  padding: var(--sp);
  margin-bottom: var(--sp);
  border-radius: 2%;
}

.skills__item-icon {
  display: inline-block;
  font-size: 24px;
  padding: var(--sp);
  padding-left: 0;
  line-height: 19px;
  vertical-align: middle;
  color: var(--md-3-color);
}
.skills__item p {
  font-size: 16px;
  line-height: 24px;
}
/**  career ********************************************************/
#career {
  background-color: var(--color-bg-light);
  padding-bottom: var(--sp);
}
.career__timeline {
  content: " ";
  z-index: 5;
  position: absolute;
  top: 100px;
  width: 4px;
  height: var(--heightTimeLine);
  background-image: linear-gradient(
    180deg,
    var(--md-1-color) 0%,
    var(--md-3-color) 25%,
    var(--md-2-color) 50%,
    var(--md-1-color) 75%,
    var(--md-3-color) 100%
  );
}
.career__timeline.left {
  left: 14px;
}
.career__timeline.right {
  right: 14px;
}
/* arrow of the timeline*/
.career__timeline::before {
  z-index: 6;
  content: " ";
  position: absolute;
  top: -20px;
  left: -14px;
  display: block;
  width: 30px;
  height: 30px;
  -webkit-clip-path: polygon(0 100%, 50% 0, 100% 100%, 50% 75%);
  clip-path: polygon(0 100%, 50% 0, 100% 100%, 50% 75%);
  background-image: linear-gradient(
    var(--md-1-color),
    var(--md-3-color),
    var(--md-3-color)
  );
}
/** circle of the timeline */
.career__period::before {
  z-index: 6;
  content: " ";
  position: absolute;
  top: -34px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: radial-gradient(var(--lightcolor) 40%, transparent 45%),
    linear-gradient(
      135deg,
      var(--md-1-color),
      var(--md-3-color),
      var(--md-2-color),
      var(--md-1-color),
      var(--md-3-color)
    );
}
.career__period.experience::before {
  right: -26px;
}
.career__period.training::before {
  left: -26px;
}
.career__period {
  position: relative;
}
.career__period-date.experience {
  text-align: right;
}
.career__period-info {
  position: relative;
  background-color: #fff;
  padding: var(--sp) var(--sp);
  border-radius: 5px;
  margin-bottom: 64px;
}
.career__period-info div {
  display: flex;
  flex-direction: row;
}
.career__period-info.experience div {
  justify-content: end;
}
.career__period-info.training div {
  flex-direction: row-reverse;
  justify-content: start;
}
.career__period-info div span {
  display: block;
}
.career__period-info.experience div span {
  padding-right: var(--sp);
}
.career__period-info.training div span {
  padding-left: var(--sp);
}
.career__title {
  margin-bottom: 64px;
}
.career__period-icon {
  width: 14px;
  height: 16px;
}
.career__period-date {
  font-size: 1.8rem;
  font-weight: 700;
  background: linear-gradient(
    180deg,
    var(--md-1-color) 0%,
    var(--md-3-color) 25%,
    var(--md-2-color) 50%,
    var(--md-1-color) 75%,
    var(--md-3-color) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.career__period-date {
  position: absolute;
  top: -38px;
  left: 0px;
  padding-left: 0px;
}
.career__period-date {
  position: absolute;
  top: -38px;
  right: 0px;
}
.career__period-dates {
  padding: var(--sp) 0;
}

.career__period-title {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: var(--sp);
}

/**  hobbies **********************************************************/
#hobbies {
  background-color: var(--darkcolor);
  color: #fff;
}
.hobbies {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hobby {
  width: 250px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: var(--lg-sp);
}
.hobby-img,
.name-hobby,
.text-hobby {
  margin: auto;
}
.hobby-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.name-hobby {
  font-size: 18px;
  font-weight: bold;
  padding: var(--lg-sp) 0 var(--sp);
}
.text-hobby {
  text-align: center;
}
.text-hobby a {
  text-decoration: none;
  color: #fff;
}
#hobby-music {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 150px;
  margin: auto;
  border-radius: 50%;
  transition: 0.6s;
}
.hobby-music {
  z-index: 5;
  opacity: 0.3;
  position: absolute;
  width: 15px;
  height: 30px;
  animation: anim 6s forwards;
}
.cat-left {
  top: 68px;
  left: 30px;
}
.cat-right {
  top: 54px;
  left: 110px;
}
@keyframes anim {
  to {
    top: -50px;
    left: var(--left);
    opacity: 1;
  }
}
.sing {
  transform: scale(1.2);
  border: 6px solid var(--md-3-color);
}
/**  footer **********************************************************/
footer {
  background-color: #576066;
  color: #fff;
  padding-bottom: var(--lg-sp);
}
#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#footer h2,
#footer article {
  margin: auto;
}
.footer__social-media i {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 50px;
  padding: var(--lg-sp);
  margin-bottom: var(--lg-sp);
  color: #fff;
}
.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__links span,
.footer__links-item {
  margin: auto;
  padding-bottom: var(--sp);
}
.footer__links-item a {
  text-decoration: none;
  color: var(--md-2-color);
}
/** LEGAL NOTICES *********************************************************************** */
#legal-notices {
  margin-top: 65px;
}
.legal-notices__item h4 {
  text-transform: uppercase;
  margin-bottom: var(--sp);
}
.legal-notices__item p a {
  text-decoration: none;
  color: var(--md-2-color);
}
.legal-notices__item p {
  margin-bottom: var(--sp);
}
.legal-notices__back-to-website {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: var(--lg-sp);
}
.legal-notices__back-to-website a {
  font-weight: 700;
  text-decoration: none;
  color: var(--md-3-color);
  display: inline-flex;
}
.legal-notices__back-to-website a:hover {
  text-decoration: underline;
}
