/** variables du thème *************************************************/
:root {
  --darkcolor: #18020c;
  --color-bg-dark: rgba(24, 2, 12, 0.5);
  --lightcolor: #f2f3d9;
  --md-1-color: #576066;
  --md-2-color: #c16e70;
  --md-3-color: #dc9e82;
  --sp: 16px;
  --2sp: 32px;
}
@font-face {
  font-family: "Merienda";
  src: url("/assets/fonts/Merienda-Regular.ttf");
}
@font-face {
  font-family: "Merienda";
  font-style: bold;
  src: url("/assets/fonts/Merienda-Bold.ttf");
}
/** global **************************************************************/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Open sans, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  height: 100%;
}
.block {
  position: relative;
}
.content {
  margin: 0 var(--sp);
}
.hidden {
  display: none;
}
h2 {
  font-family: Merienda;
  font-size: 24px;
  margin: 0 var(--sp);
  padding: var(--2sp) 0;
  text-align: center;
}
h3 {
  text-align: center;
  padding: var(--sp);
  font-family: Merienda;
  font-style: normal;
  font-weight: bold;
}
p {
  line-height: 1.8;
  padding-bottom: var(--sp);
}

/** header ***************************************************************************************/
header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--darkcolor);
  width: 100%;
  height: 65px;
  z-index: 1000;
}
header:before {
  content: " ";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background-image: linear-gradient(
    90deg,
    var(--md-1-color) 0%,
    var(--md-3-color) 25%,
    var(--md-3-color) 50%,
    var(--lightcolor) 75%,
    var(--md-1-color) 100%
  );
  /* transition: 0.2s; */
}

/** MY NAME *********************/
h1 {
  width: 80%;
  padding: 0 var(--sp);
}
h1 a {
  font-size: 26px;
  text-decoration: none;
  color: white;
  line-height: 65px;
}
h1 span {
  font-family: "Merienda";
  font-style: normal;
  font-size: 19px;
  font-weight: bold;
}
/** NAVIGATION *********************************************************************************/
.main-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  text-align: right;
}
.btn-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  z-index: 1000;
  opacity: 0;
}
.menu-burger {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: var(--sp);
}
.menu-burger span {
  color: white;
  width: 20px;
  height: 20px;
  line-height: 65px;
}
.menu-content {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  transform: translate(500px);
  transition-property: transform;
  transition-duration: 0.7s;
  transition-delay: 0;
  transition-timing-function: ease-in;
}
.btn-menu:checked ~ .menu-content {
  transform: translate(0);
}
.header-main-menu {
  height: 52px;
  display: flex;
  line-height: 48px;
  color: var(--md-1-color);
}
.header-main-menu .menu-title {
  flex: 1;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  padding-left: calc(2 * var(--sp));
}
.header-main-menu .menu-cross {
  flex: 0;
  flex-basis: 20px;
  text-align: center;
  line-height: 48px;
  vertical-align: middle;
  padding-right: var(--sp);
}
.list-main-menu {
  width: auto;
  list-style: none;
  padding-bottom: var(--sp);
}
.main-menu-item {
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  line-height: 48px;
  width: auto;
  height: 50px;
  padding: 0px var(--sp);
  border-bottom: 1px solid var(--md-1-color);
}
.main-menu-item a {
  text-decoration: none;
  color: var(--md-1-color);
}

/** WHO I AM ***************************************************************/
#whoiam {
  margin-top: 70px;
  background-color: var(--md-1-color);
  color: white;
  height: 100%;
}

p.myname {
  font-size: 20px;
  /* margin: 0px 0px var(--sp); */
}
p.myname span {
  font-family: Merienda;
}
#whoiam h2 {
  text-align: left;
}
#whoiam img {
  position: absolute;
  height: 741px;
  width: auto;
  vertical-align: middle;
  bottom: 0px;
  right: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 0;
}
.whoiam article {
  background-color: var(--color-bg-dark);
  backdrop-filter: blur(5px);
  position: relative;
  line-height: 1.5;
  padding: var(--sp);
}
.whoiam h2 {
  margin: 0;
  padding-bottom: var(--sp);
  font-size: 20px;
}
/** skills **************************************************************/

#skills {
  background-color: var(--darkcolor);
}
#skills h2 {
  color: #fff;
}
.skills {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.skill {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff;
}
.skill-icon {
  display: inline-block;
  font-size: 24px;
  padding: var(--sp);
  padding-left: 0;
  line-height: 19px;
  vertical-align: middle;
  color: var(--md-3-color);
}
.skill p {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 var(--sp);
}
/**  experiences ********************************************************/
#experiences {
  background-color: var(--lightcolor);
}
.header-experience {
  font-size: 1.3rem;
  line-height: 2.2rem;
}
.title-experience,
.compagny-experience {
  font-weight: bold;
}
.compagny-experience span {
  font-weight: normal;
}
.experience p {
  border-bottom: 1px solid var(--md-1-color);
  margin-bottom: var(--2sp);
}
/**  hobbies **********************************************************/
#hobbies {
  background-color: var(--md-3-color);
}
