*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  background-color: #c4d7f2;
}
section {
  display: flex;
  flex-direction: column;
}
.theme {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}
.theme-name {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  padding: 1rem;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}
.theme-description {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  padding: 1rem;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}
.theme.running {
  background-image: url(../images/running.jpg);
}
.theme.yoga {
  background-image: url(../images/yoga.jpg);
}
.theme.bike {
  background-image: url(../images/bike.jpg);
}
.theme.sethi {
  background-image: url(../images/sethi.jpg);
}
.theme.reading {
  background-image: url(../images/reading.jpg);
}
.theme.singing {
  background-image: url(../images/singing.jpg);
}
.theme.meditation {
  background-image: url(../images/meditation.jpg);
}
.theme.coding {
  background-image: url(../images/developpeuse-web-850.jpg);
}
@media screen and (min-width: 768px) {
  .wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  section {
    width: 50vw;
    height: 50vh;
  }
  section.sports {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .theme.running,
  .theme.yoga,
  .theme.bike {
    width: 50%;
  }
  section.work {
    position: absolute;
    border-radius: 50%;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
  }
  .theme.meditation {
    width: 50%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    text-align: center;
  }
  .theme.meditation .theme-name {
    text-align: center;
    padding-top: 50px;
  }
}
